@using Recodme.RD.Lennyouse.PresentationLayer.WebAPI.Models.UserInfo

@model IEnumerable<PersonViewModel>

<h2>Persons</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table claa="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.VatNumber)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@person.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@person.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@person.Id">Delete</a>
                    </td>
                    <td>@Html.DisplayFor(x => person.VatNumber)</td>
                    <td>@Html.DisplayFor(x => person.PhoneNumber)</td>
                    <td>@Html.DisplayFor(x => person.FirstName)</td>
                    <td>@Html.DisplayFor(x => person.LastName)</td>
                    <td>@Html.DisplayFor(x => person.BirthDate)</td>
                </tr>
            }
        </tbody>

    </table>

</div>