@using Recodme.RD.Lennyouse.PresentationLayer.WebAPI.Models.MenuInfo

@model IEnumerable<CourseViewModel>

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table claa="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meal in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@meal.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@meal.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@meal.Id">Delete</a>
                    </td>
                    <td>@Html.DisplayFor(x => meal.Name)</td>
                </tr>
            }
        </tbody>

    </table>

</div>