@using Recodme.RD.Lennyouse.PresentationLayer.WebAPI.Models.RestaurantInfo

@model IEnumerable<TitleViewModel>

<h2>Titles</h2>

<p>
    <a asp-action="Create">Create</a>
</p>

<div class="table-responsive">
    <table claa="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Position)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var title in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@title.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@title.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@title.Id">Delete</a>
                    </td>
                    <td>@Html.DisplayFor(x => title.Name)</td>
                    <td>@Html.DisplayFor(x => title.Position)</td>
                    <td>@Html.DisplayFor(x => title.Description)</td>
               
                </tr>
            }
        </tbody>

    </table>

</div>